<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Tapiji Target RCP" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.23.0.v20170503-0014"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.group" version="1.15.0.v20170411-1844"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.15.0.v20170411-1844"/>
<unit id="org.eclipse.mylyn.commons.repositories.feature.group" version="1.15.0.v20170411-1844"/>
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="3.23.0.v20170503-0014"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="3.23.1.v20170623-0008"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.23.1.v20170623-0008"/>
<repository location="http://download.eclipse.org/mylyn/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="at.nucle.e4.plugin.preferences.feature.feature.group" version="0.2.1.201703132207"/>
<repository location="https://dl.bintray.com/nucle/e4preferences/"/>
</location>
<location path="${project_loc}\libs" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="4.10.0.201712302008-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="4.10.0.201712302008-r"/>
<repository location="http://download.eclipse.org/egit/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.2.v20171108-1834"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.2.v20171130-0906"/>
<unit id="org.eclipse.platform.sdk" version="4.7.2.M20171130-0510"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
</target>
