<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.tapiji.rap.translator.TranslatorEntryPoint"
            id="org.eclipse.tapiji.rap.translator.entrypoint"
            parameter="translator">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tapiji.rap.translator.Perspective"
            id="org.eclipse.tapiji.rap.translator.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.tapiji.rap"
            name="Internationalization">
      </category>
      <view
            category="org.eclipse.tapiji.rap"
            class="org.eclipse.tapiji.rap.translator.views.GlossaryView"
            icon="icons/sample.gif"
            id="org.eclipse.tapiji.rap.translator.views.GlossaryView"
            name="Glossary">
      </view>
   </extension>

</plugin>
