.MTrimBar {
  font: Verdana 8px;
}

Shell {
    swt-background-mode: default;
}

.MPartStack {
  swt-tab-renderer: null;
  swt-simple: true;
  swt-mru-visible: true;
}

#org-eclipse-e4-primaryDataStack {
    swt-tab-position: bottom;
}

.EditorStack {
    swt-tab-position: bottom;
}


