<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipselabs.tapiji.translator.rap.extResources.TextEditor"
            default="false"
            id="org.eclipselabs.tapiji.translator.rap.wrappers.TextEditor"
            name="TextEditor">
      </editor>
   </extension>
  <extension
        point="org.eclipse.ui.elementFactories">
     <factory
           class="org.eclipse.ui.part.FileEditorInputFactory"
           id="org.eclipse.ui.part.FileEditorInputFactory">
     </factory>
  </extension>

</plugin>
