<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Tapiji Translator">
         <property
               name="windowImages"
               value="platform:/plugin/org.eclipse.e4.tapiji.resource/icons/16x16/tapiji.png,platform:/plugin/org.eclipse.e4.tapiji.resource/icons/32x32/tapiji.png,platform:/plugin/org.eclipse.e4.tapiji.resource/icons/48x48/tapiji.png,platform:/plugin/org.eclipse.e4.tapiji.resource/icons/64x64/tapiji.png,platform:/plugin/org.eclipse.e4.tapiji.resource/icons/128x128/tapiji.png">
         </property>
         <property
               name="aboutText"
               value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp;amp;&#x0A;Martin Reiterer &amp;amp;&#x0A;Christian Behon">
         </property>
         <property
               name="appName"
               value="Tapiji Translator">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.eclipselabs.e4.tapiji.translator/org.eclipselabs.e4.tapiji.translator.LifeCycleManager">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipselabs.e4.tapiji.translator/css/default.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipselabs.e4.tapiji.translator.definition.translationreference">
         <with
               variable="org.eclipselabs.e4.tapiji.translator.popupmenu.TRANSLATION_REFERENCE">
            <and>
               <not>
                  <equals
                        value="0">
                  </equals>
               </not>
            </and>
         </with>
      </definition>
      <definition
            id="org.eclipselabs.e4.tapiji.translator.definition.translationvisibility">
         <with
               variable="org.eclipselabs.e4.tapiji.translator.popupmenu.TRANSLATION_VISIBILITY">
            <and>
               <not>
                  <equals
                        value="0">
                  </equals>
               </not>
            </and>
         </with>
      </definition>
   </extension>

</plugin>
