<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipselabs.tapiji.tools.core.builderExtension" name="BuilderExtension" schema="schema/org.eclipselabs.tapiji.tools.core.builderExtension.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Internatinoalization"
            id="org.eclipselabs.tapiji.tools.core">
      </category>
      <view
            name="Resource-Bundle"
            icon="icons/resourcebundle.gif"
            category="org.eclipselabs.tapiji.tools.core"
            class="org.eclipselabs.tapiji.tools.core.ui.views.messagesview.MessagesView"
            id="org.eclipselabs.tapiji.tools.core.views.MessagesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipselabs.tapiji.tools.core.views.MessagesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         id="I18NBuilder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.eclipselabs.tapiji.tools.core.builder.StringLiteralAuditor" />
      </builder>
   </extension>
   
   <extension
         id="org.eclipselabs.tapiji.tools.core.nature"
         name="Internationalization Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipselabs.tapiji.tools.core.builder.InternationalizationNature" />
      </runtime>
      <builder id="org.eclipselabs.tapiji.tools.core.I18NBuilder" />
<!--      <requires-nature id="org.eclipse.jdt.core.javanature"/> -->
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="org.eclipselabs.tapiji.tools.core.ui.menus.Internationalization"
               label="Internationalization"
               tooltip="Java Internationalization assistance">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipselabs.tapiji.tools.core.ui.menus.Internationalization?after=additions">
         <dynamic
               class="org.eclipselabs.tapiji.tools.core.ui.menus.InternationalizationMenu"
               id="org.eclipselabs.tapiji.tools.core.ui.menus.ExcludeResource">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="StringLiteralAuditMarker"
         name="String Literal Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stringLiteral">
      </attribute>
      <attribute
            name="violation">
      </attribute>
      <attribute
            name="context">
      </attribute>
      <attribute
            name="cause">
      </attribute>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="bundleName">
      </attribute>
      <attribute
            name="bundleStart">
      </attribute>
      <attribute
            name="bundleEnd">
      </attribute>
   </extension>
   <extension
         id="ResourceBundleAuditMarker"
         name="Resource-Bundle Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stringLiteral">
      </attribute>
      <attribute
            name="violation">
      </attribute>
      <attribute
            name="context">
      </attribute>
      <attribute
            name="cause">
      </attribute>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="language">
      </attribute>
      <attribute
            name="bundleLine">
      </attribute>
      <attribute
            name="problemPartner">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipselabs.tapiji.tools.core.builder.ViolationResolutionGenerator"
            markerType="org.eclipselabs.tapiji.tools.core.StringLiteralAuditMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipselabs.tapiji.tools.core.builder.ViolationResolutionGenerator"
            markerType="org.eclipselabs.tapiji.tools.core.ResourceBundleAuditMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="org.eclipselabs.tapiji.tools.core.ui.filters.PropertiesFileFilter"
            description="Filters only resource bundles"
            enabled="false"
            id="ResourceBundleFilter"
            name="ResourceBundleFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipselabs.tapiji.tools.core.ui.decorators.ExcludedResource"
            id="org.eclipselabs.tapiji.tools.core.decorators.ExcludedResource"
            label="Resource is excluded from Internationalization"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
