<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="org.eclipse.babel.tapiji.tools.target" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="epp.package.java" version="1.4.2.20120213-0813"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
