<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="at.ac.tuwien.inso.eclipse.i18n.builderExtension" name="BuilderExtension" schema="schema/at.ac.tuwien.inso.eclipse.i18n.builderExtension.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Internatinoalization"
            id="at.ac.tuwien.inso.eclipse.i18n">
      </category>
      <view
            name="Resource-Bundle"
            icon="icons/resourcebundle.gif"
            category="at.ac.tuwien.inso.eclipse.i18n"
            class="at.ac.tuwien.inso.eclipse.i18n.ui.views.messagesview.MessagesView"
            id="at.ac.tuwien.inso.eclipse.i18n.views.MessagesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="at.ac.tuwien.inso.eclipse.i18n.views.MessagesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="stringLiteralAuditor"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="at.ac.tuwien.inso.eclipse.i18n.builder.StringLiteralAuditor">
         </run>
      </builder>
   </extension>
   <extension
         id="stringLiteralAuditor"
         name="Constant String Literal Auditor"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="at.ac.tuwien.inso.eclipse.i18n.builder.InternationalizationNature">
         </run>
      </runtime>
      <builder
            id="at.ac.tuwien.inso.eclipse.i18n.stringLiteralAuditor">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="at.ac.tuwien.inso.eclipse.i18n.ui.menus.Internationalization"
               label="Internationalization"
               tooltip="Java Internationalization assistance">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:at.ac.tuwien.inso.eclipse.i18n.ui.menus.Internationalization?after=additions">
         <dynamic
               class="at.ac.tuwien.inso.eclipse.i18n.ui.menus.InternationalizationMenu"
               id="at.ac.tuwien.inso.eclipse.i18n.ui.menus.ExcludeResource">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         id="StringLiteralAuditMarker"
         name="String Literal Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stringLiteral">
      </attribute>
      <attribute
            name="violation">
      </attribute>
      <attribute
            name="context">
      </attribute>
      <attribute
            name="cause">
      </attribute>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="bundleName">
      </attribute>
      <attribute
            name="bundleStart">
      </attribute>
      <attribute
            name="bundleEnd">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="at.ac.tuwien.inso.eclipse.i18n.builder.ViolationResolutionGenerator"
            markerType="at.ac.tuwien.inso.eclipse.i18n.StringLiteralAuditMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="at.ac.tuwien.inso.eclipse.i18n.ui.filters.PropertiesFileFilter"
            description="Filters only resource bundles"
            enabled="false"
            id="ResourceBundleFilter"
            name="ResourceBundleFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="at.ac.tuwien.inso.eclipse.i18n.ui.decorators.ExcludedResource"
            id="at.ac.tuwien.inso.eclipse.i18n.decorators.ExcludedResource"
            label="Resource is excluded from Internationalization"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
