<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.essiembre.eclipse.i18n.resourcebundle"
   name="%plugin.name"
   version="0.7.8"
   provider-name="%plugin.provider"
   class="com.essiembre.eclipse.rbe.RBEPlugin">

   <runtime>
   	  <library name="resourcebundle.jar">
         <export
               name="com.essiembre.eclipse.rbe.api.*">
         </export>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jdt.ui" optional="true"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jdt.core" version="3.5.2"/>
      <import plugin="org.eclipselabs.tapiji.translator.rbe" version="0.0.1"/>
   </requires>

   <extension-point id="resourceFactory" name="resourceFactory" schema="schema/resourceFactory.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.rbe"
            icon="icons/propertiesfile.gif"
            extensions="properties"
            class="com.essiembre.eclipse.rbe.ui.editor.ResourceBundleEditor"
            contributorClass="com.essiembre.eclipse.rbe.ui.editor.ResourceBundleEditorContributor"
            id="com.essiembre.eclipse.rbe.ui.editor.ResourceBundleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizard.rb"
            id="com.essiembre.eclipse.i18n.resourcebundle">
      </category>
      <wizard
            name="ResourceBundle"
            icon="icons/resourcebundle.gif"
            category="com.essiembre.eclipse.i18n.resourcebundle"
            class="com.essiembre.eclipse.rbe.ui.wizards.ResourceBundleWizard"
            id="com.essiembre.eclipse.rbe.ui.wizards.ResourceBundleWizard">
            <description> 
               %wizard.description 
            </description> 
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipselabs.tapiji.tools.core.TapiJIGeneralPrefPage"
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            name="%editor.rbe">
      </page>
      <page
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEFormattingPrefPage"
            category="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            name="%prefs.formatting"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEFormattingPrefPage"/>
      <page
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEReportingPrefPage"
            category="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            name="%prefs.performance"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEReportingPrefPage"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="com.essiembre.eclipse.i18n.resourcebundle.views.ResourceBundleView"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEPreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="com.essiembre.eclipse.i18n.resourcebundle.resourceFactory">
      <factory
            class="com.essiembre.eclipse.rbe.ui.editor.resources.StandardResourceFactory"
            order="9999">
      </factory>
      <factory
            class="com.essiembre.eclipse.rbe.ui.editor.resources.FragmentResourceFactory"
            order="1">
      </factory>
      <factory
            class="com.essiembre.eclipse.rbe.ui.editor.resources.NLResourceFactory"
            order="2">
      </factory>
   </extension>

</plugin>
