<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.e4.tapiji.git.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="at.nucle.e4.plugin.preferences">
      <page
            class="org.eclipse.e4.tapiji.git.ui.preference.PreferenceGeneralPage"
            id="page_general"
            order="2">
      </page>
      <page
            category="page_general"
            class="org.eclipse.e4.tapiji.git.ui.preference.PreferenceAuthenticationPage"
            id="page_auth"
            order="3">
      </page>
      <page
            category="page_general"
            class="org.eclipse.e4.tapiji.git.ui.preference.PreferenceProfilePage"
            id="page_profile"
            order="4">
      </page>
   </extension>



</plugin>
