<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.essiembre.rbe.eclipse.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="org.eclilpse.babel.editor.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.essiembre.rbe.eclipse.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.babel.editor.MessagesEditor"
            contributorClass="org.eclipse.babel.editor.MessagesEditorContributor"
            default="true"
            extensions="properties"
            icon="icons/propertiesfile.gif"
            id="com.essiembre.rbe.eclipse.editor.ResourceBundleEditor"
            name="RBE 2"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%wizard.rb"
            id="com.essiembre.eclipse.i18n.resourcebundle">
      </category>
      <wizard
            name="ResourceBundle"
            icon="icons/resourcebundle.gif"
            category="com.essiembre.eclipse.i18n.resourcebundle"
            class="com.essiembre.eclipse.rbe.ui.wizards.ResourceBundleWizard"
            id="com.essiembre.eclipse.rbe.ui.wizards.ResourceBundleWizard">
            <description> 
               %wizard.description 
            </description> 
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%editor.rbe"
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage">
      </page>
      <page
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEFormattingPrefPage"
            category="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            name="%prefs.formatting"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEFormattingPrefPage"/>
      <page
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEReportingPrefPage"
            category="com.essiembre.eclipse.rbe.ui.preferences.RBEGeneralPrefPage"
            name="%prefs.performance"
            id="com.essiembre.eclipse.rbe.ui.preferences.RBEReportingPrefPage"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="com.essiembre.eclipse.i18n.resourcebundle.views.ResourceBundleView"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.essiembre.eclipse.rbe.ui.preferences.RBEPreferenceInitializer">
      </initializer>
   </extension>

    <extension id="nlsmarker" point="org.eclipse.core.resources.markers"/>
	<extension
	     id="nlsproblem"
	     name="ResourceBundle Editor problems"
	     point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.babel.editor.nlsmarker"/>
	   <attribute name="bundleId"/>
	   <persistent value="false"/>
	</extension>
 <extension
       id="rbeBuilder"
       name="RBE Project Builder"
       point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
       <run class="org.eclipse.babel.editor.builder.Builder"/>
    </builder>
 </extension>
 <extension
       id="rbeNature"
       name="RBE Project Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run class="org.eclipse.babel.editor.builder.Nature"/>
    </runtime>
    <builder id="org.eclipse.babel.editor.rbeBuilder"/>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="com.essiembre.rbe.eclipse.contribution1"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="org.eclipse.babel.editor.builder.ToggleNatureAction"
             enablesFor="+"
             id="com.essiembre.rbe.eclipse.addRemoveNatureAction"
             label="Add/Remove Sample Nature"
             menubarPath="additions"/>
    </objectContribution>
 </extension>
 <extension
       id="com.essiembre.rbe.startup"
       name="RBE Startup"
       point="org.eclipse.ui.startup">
    <startup class="org.eclipse.babel.editor.plugin.Startup"/>
 </extension>
</plugin>
