<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipselabs.tapiji"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/resourcebundle.gif"
            id="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer"
            name="Resource Bundle Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipselabs.tapiji.tools.rbmanager.viewContribution1"
            targetID="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer">
         <action
               class="org.eclipselabs.tapiji.tools.rbmanager.ui.view.toolbarItems.ToggleFilterActionDelegate"
               icon="icons/warning.gif"
               id="org.eclipselabs.tapiji.tools.rbmanager.activateFilter"
               label="Filter Problematic ResourceBundles"
               state="false"
               style="toggle"
               toolbarPath="additions"
               tooltip="Filters ResourceBundles With Warnings">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipselabs.tapiji.tools.rbmanager.viewContribution2"
            targetID="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer">
         <action
               class="org.eclipselabs.tapiji.tools.rbmanager.ui.view.toolbarItems.ExpandAllActionDelegate"
               icon="icons/expandall.gif"
               id="org.eclipselabs.tapiji.tools.rbmanager.expandAll"
               label="Expand All"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipselabs.tapiji.tools.rbmanager.resourcebundleContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipselabs.tapiji.tools.rbmanager.filter.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipselabs.tapiji.tools.rbmanager.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="org.eclipselabs.tapiji.tools.rbmanager.ResourceBundleExplorer">
         <popupMenu>
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit">
            </insertionPoint>
            <insertionPoint
                  name="expand">
            </insertionPoint>
            <insertionPoint
                  name="group.port">
            </insertionPoint>
            <insertionPoint
                  name="group.reorgnize">
            </insertionPoint>
            <insertionPoint
                  name="group.build">
            </insertionPoint>
            <insertionPoint
                  name="group.search">
            </insertionPoint>
            <insertionPoint
                  name="additions">
            </insertionPoint>
            <insertionPoint
                  name="group.properties">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipselabs.tapiji.tools.rbmanager.viewer.ResourceBundleContentProvider"
            icon="icons/resourcebundle.gif"
            id="org.eclipselabs.tapiji.tools.rbmanager.resourcebundleContent"
            labelProvider="org.eclipselabs.tapiji.tools.rbmanager.viewer.ResourceBundleLabelProvider"
            name="Resource Bundle Content"
            priority="high">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipselabs.tapiji.tools.rbmanager.model.VirtualResourceBundle">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="org.eclipselabs.tapiji.tools.rbmanager.model.VirtualResourceBundle">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="properties">
                  </test>
               </and>
            </or></possibleChildren>
         <actionProvider
               class="org.eclipselabs.tapiji.tools.rbmanager.viewer.actions.VirtualRBActionProvider"
               id="org.eclipselabs.tapiji.tools.rbmanager.action.openProvider">
            <enablement>
               <instanceof
                     value="org.eclipselabs.tapiji.tools.rbmanager.model.VirtualResourceBundle">
               </instanceof>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.eclipselabs.tapiji.tools.rbmanager.viewer.actions.GeneralActionProvider"
               id="org.eclipselabs.tapiji.tools.rbmanager.action.general">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            class="org.eclipselabs.tapiji.tools.rbmanager.viewer.filters.ProblematicResourceBundleFilter"
            id="org.eclipselabs.tapiji.tools.rbmanager.filter.ProblematicResourceBundleFiles"
            name="Problematic Resource Bundle Files">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipselabs.tapiji.tools.rbmanager.viewer.LinkHelper"
            id="org.eclipselabs.tapiji.tools.rbmanager.linkHelper">
        <selectionEnablement>
             <instanceof value="org.eclipse.core.resources.IFile"/>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipselabs.tapiji.tools.core.builderExtension">
      <i18nAuditor
            class="org.eclipselabs.tapiji.tools.rbmanager.auditor.ResourceBundleAuditor">
      </i18nAuditor>
   </extension>

</plugin>
