<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipselabs.tapiji.translator.rap.TranslatorEntryPoint"
            id="org.eclipselabs.tapiji.translator.rap.entrypoint"
            parameter="translator">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipselabs.tapiji.translator.rap.Perspective"
            id="org.eclipselabs.tapiji.translator.rap.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipselabs.tapiji.translator.rap"
            name="Internationalization">
      </category>
      <view
            category="org.eclipselabs.tapiji.translator.rap"
            class="org.eclipselabs.tapiji.translator.rap.views.GlossaryView"
            icon="icons/sample.gif"
            id="org.eclipselabs.tapiji.translator.rap.views.GlossaryView"
            name="Glossary"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipselabs.tapiji.translator.rap.TestEditor"
            default="false"
            id="org.eclipselabs.tapiji.translator.rap.TestEditor"
            name="TestEditor">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Open Resource-Bundle ..."
            id="org.eclipselabs.tapiji.translator.rap.fileOpen"
            name="FileOpen">
      </command>
      <command
            id="org.eclipselabs.tapiji.translator.rap.fileOpenGlossary"
            name="Open Glossary ...">
      </command>
      <command
            id="org.eclipselabs.tapiji.translator.rap.fileNewGlossary"
            name="New Glossary ...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipselabs.tapiji.translator.rap.fileActionSet"
            label="File Action Set"
            visible="true">
          <action
                class="org.eclipselabs.tapiji.translator.rap.actions.OpenGlossaryAction"
                definitionId="org.eclipselabs.tapiji.translator.rap.fileOpenGlossary"
                icon="icons/OpenGlossary5.png"
                id="OpenGlossaryAction"
                label="Open Glossary ..."
                menubarPath="file_mnu/fileStart"
                state="false"
                style="push"
                toolbarPath="org.eclipse.ui.workbench.file/open.ext"
                tooltip="Opens a Glossary definition">
          </action>
	          <action
	                class="org.eclipselabs.tapiji.translator.rap.actions.NewGlossaryAction"
	                definitionId="org.eclipselabs.tapiji.translator.rap.fileNewGlossary"
	                icon="icons/NewGlossary.png"
	                id="NewGlossaryAction"
	                label="New Glossary ..."
	                menubarPath="file_mnu/fileStart"
	                state="false"
	                style="push"
	                toolbarPath="org.eclipse.ui.workbench.file/open.ext"
	                tooltip="Creates a new Glossary file">
	          </action>
         <action
               class="org.eclipselabs.tapiji.translator.rap.actions.FileOpenAction"
               definitionId="org.eclipselabs.tapiji.translator.rap.fileOpen"
               icon="icons/OpenRB.png"
               id="FileOpenAction"
               label="Open Resource-Bundle ..."
               menubarPath="file_mnu/fileStart"
               state="false"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               tooltip="Opens a Resource-Bundle">
         </action>
      </actionSet>
   </extension>

</plugin>
