<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipselabs.tapiji.translator.rap.TranslatorEntryPoint"
            id="org.eclipselabs.tapiji.translator.rap.entrypoint"
            parameter="translator">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipselabs.tapiji.translator.rap.Perspective"
            id="org.eclipselabs.tapiji.translator.rap.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipselabs.tapiji.translator.rap"
            name="Internationalization">
      </category>
      <view
            category="org.eclipselabs.tapiji.translator.rap"
            class="org.eclipselabs.tapiji.translator.rap.views.GlossaryView"
            icon="icons/sample.gif"
            id="org.eclipselabs.tapiji.translator.rap.views.GlossaryView"
            name="Glossary"
            restorable="true">
      </view>
   </extension>

</plugin>
