<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.babel.tapiji"
            name="Internationalization">
      </category>
      <view
            category="org.eclipse.babel.tapiji"
            class="org.eclipse.babel.tapiji.tools.core.ui.views.messagesview.MessagesView"
            icon="icons/resourcebundle.gif"
            id="org.eclipse.babel.tapiji.tools.core.views.MessagesView"
            name="Resource-Bundle">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.babel.tapiji.tools.core.views.MessagesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="org.eclipse.babel.tapiji.tools.core.ui.menus.Internationalization"
               label="Internationalization"
               tooltip="Java Internationalization assistance">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.babel.tapiji.tools.core.ui.menus.Internationalization?after=additions">
         <dynamic
               class="org.eclipse.babel.tapiji.tools.core.ui.menus.InternationalizationMenu"
               id="org.eclipse.babel.tapiji.tools.core.ui.menus.ExcludeResource">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.babel.tapiji.tools.core.builder.ViolationResolutionGenerator"
            markerType="org.eclipse.babel.tapiji.tools.core.StringLiteralAuditMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.babel.tapiji.tools.core.builder.ViolationResolutionGenerator"
            markerType="org.eclipse.babel.tapiji.tools.core.ResourceBundleAuditMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="org.eclipse.babel.tapiji.tools.core.ui.filters.PropertiesFileFilter"
            description="Filters only resource bundles"
            enabled="false"
            id="ResourceBundleFilter"
            name="ResourceBundleFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.babel.tapiji.tools.core.ui.decorators.ExcludedResource"
            id="org.eclipse.babel.tapiji.tools.core.decorators.ExcludedResource"
            label="Resource is excluded from Internationalization"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.babel.tapiji.tools.core.ui.prefrences.TapiHomePreferencePage"
            id="org.eclipse.babel.tapiji.tools.core.TapiJIGeneralPrefPage"
            name="TapiJI">
      </page>
      <page
            category="org.eclipse.babel.tapiji.tools.core.TapiJIGeneralPrefPage"
            class="org.eclipse.babel.tapiji.tools.core.ui.prefrences.FilePreferencePage"
            id="org.eclipse.babel.tapiji.tools.core.FilePrefPage"
            name="File Settings">
      </page>
      <page
            category="org.eclipse.babel.tapiji.tools.core.TapiJIGeneralPrefPage"
            class="org.eclipse.babel.tapiji.tools.core.ui.prefrences.BuilderPreferencePage"
            id="org.eclipse.babel.tapiji.tools.core.BuilderPrefPage"
            name="Builder Settings">
      </page>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.eclipse.babel.tapiji.tools.core.ui.markers.MarkerUpdater"
            id="org.eclipse.babel.tapiji.tools.core.ui.MarkerUpdater"
            markerType="org.eclipse.core.resources.problemmarker">
      </updater>
    </extension>
	
</plugin>
