<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.ac.tuwien.inso.eclipse.tapiji.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="at.ac.tuwien.inso.eclipse.tapiji.Perspective"
            id="at.ac.tuwien.inso.eclipse.tapiji.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.ac.tuwien.inso.eclipse.tapiji.application"
            name="TapiJI Translator">
         <property
               name="windowImages"
               value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_16.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_32.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_48.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_64.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
         </property>
         <property
               name="appName"
               value="TapiJI Translator">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
         </property>
         <property
               name="aboutText"
               value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp; Martin Reiterer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Open Resource-Bundle ..."
            id="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileOpen"
            name="FileOpen">
      </command>
      <command
            id="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileOpenGlossary"
            name="Open Glossary ...">
      </command>
      <command
            id="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileNewGlossary"
            name="New Glossary ...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileOpen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
   </extension>
	 <extension
	         point="org.eclipse.ui.actionSets">
	      <actionSet
	            label="File Action Set"
	            visible="true"
	            id="at.ac.tuwien.inso.eclipse.tapiji.translator.fileActionSet">
          <action
                class="at.ac.tuwien.inso.eclipse.tapiji.actions.OpenGlossaryAction"
                definitionId="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileOpenGlossary"
                icon="icons/OpenGlossary5.png"
                id="OpenGlossaryAction"
                label="Open Glossary ..."
                menubarPath="file_mnu/fileStart"
                state="false"
                style="push"
                toolbarPath="org.eclipse.ui.workbench.file/open.ext"
                tooltip="Opens a Glossary definition">
          </action>
	          <action
	                class="at.ac.tuwien.inso.eclipse.tapiji.actions.NewGlossaryAction"
	                definitionId="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileNewGlossary"
	                icon="icons/NewGlossary.png"
	                id="NewGlossaryAction"
	                label="New Glossary ..."
	                menubarPath="file_mnu/fileStart"
	                state="false"
	                style="push"
	                toolbarPath="org.eclipse.ui.workbench.file/open.ext"
	                tooltip="Creates a new Glossary file">
	          </action>
           <action
                 class="at.ac.tuwien.inso.eclipse.tapiji.actions.FileOpenAction"
                 definitionId="at.ac.tuwien.inso.eclipse.tapiji.Translator.fileOpen"
                 icon="icons/OpenRB.png"
                 id="FileOpenAction"
                 label="Open Resource-Bundle ..."
                 menubarPath="file_mnu/fileStart"
                 state="false"
                 style="push"
                 toolbarPath="org.eclipse.ui.workbench.file/open.ext"
                 tooltip="Opens a Resource-Bundle">
           </action>
	      </actionSet>
	   </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="at.ac.tuwien.inso.eclipse.tapiji.glossary"
           name="Internationalization">
     </category>
     <view
           category="at.ac.tuwien.inso.eclipse.tapiji.glossary"
           class="at.ac.tuwien.inso.eclipse.tapiji.views.GlossaryView"
           icon="icons/sample.gif"
           id="at.ac.tuwien.inso.eclipse.tapiji.views.GlossaryView"
           name="Glossary">
     </view>
  </extension>
  <extension
        id="tapiji_translator"
        point="org.eclipse.core.runtime.products">
     <product
           application="at.ac.tuwien.inso.eclipse.tapiji_translator.application"
           name="TapiJI Translator">
        <property
              name="windowImages"
              value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_16.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_32.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_48.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_64.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
        </property>
        <property
              name="aboutText"
              value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp; Martin Reiterer">
        </property>
        <property
              name="aboutImage"
              value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
        </property>
        <property
              name="appName"
              value="TapiJI Translator">
        </property>
     </product>
  </extension>
  <extension
        id="application"
        point="org.eclipse.core.runtime.products">
     <product
           application="at.ac.tuwien.inso.eclipse.deploy.application"
           name="TapiJI Translator">
        <property
              name="windowImages"
              value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_16.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_32.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_48.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_64.png,platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
        </property>
        <property
              name="aboutText"
              value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp; Martin Reiterer">
        </property>
        <property
              name="aboutImage"
              value="platform:/plugin/at.ac.tuwien.inso.eclipse.i18n/icons/TapiJI_128.png">
        </property>
        <property
              name="appName"
              value="TapiJI Translator">
        </property>
     </product>
  </extension>
  <extension
        id="product1"
        point="org.eclipse.core.runtime.products">
     <product
           application="at.ac.tuwien.inso.eclipse.tapiji_translator.application"
           name="TapiJI Translator">
        <property
              name="appName"
              value="TapiJI Translator">
        </property>
        <property
              name="aboutImage"
              value="icons/TapiJI_128.png">
        </property>
        <property
              name="aboutText"
              value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp; Martin Reiterer">
        </property>
        <property
              name="windowImages"
              value="icons/TapiJI_16.png,icons/TapiJI_32.png,icons/TapiJI_48.png,icons/TapiJI_64.png,icons/TapiJI_128.png">
        </property>
     </product>
  </extension>
</plugin>
