<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="translator">
         <property
               name="appName"
               value="translator">
         </property>
         <property
               name="aboutText"
               value="TapiJI - Translator &#x0A;Version 1.0.0&#x0A;by Stefan Strobl &amp;amp;&#x0A;Martin Reiterer &amp;amp;&#x0A;Christian Behon">
         </property>
      </product>
   </extension>

</plugin>
