<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipselabs.tapiji.translator.suggestionprovider.glossary"
         point="org.eclipselabs.tapiji.translator.suggestion">
      <client
            class="org.eclipselabs.tapiji.translator.suggestionprovider.glossary.GlossarySuggestionProvider">
      </client>
   </extension>

</plugin>
