<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="RAP"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="org.eclipselabs.e4.tapiji.rap">
         <property
               name="appName"
               value="org.eclipselabs.e4.tapiji.rap">
         </property>
      </product>
   </extension>

</plugin>
