Shell-Titlebar { 
	background-gradient-color: white; /* MultiPageEditor background color */
	background-color: rgb(252,144,55); /* MultiPageEditor-Title background color (a bit brighter as specified) */
	background-image: gradient(
	    linear, left top, left bottom,
	    from( rgb(253,191,159) ), to( rgb(236,99,23) )
    );
    color: black;
}

MenuItem:hover, ToolItem:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( rgb(253,191,159) ),
    to( rgb(236,99,23))
  );
}

MenuItem:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( rgb(236,99,23) ),
    to( rgb(253,191,159) )
  );
}

ToolItem.userItem {
  background-image: gradient(
    linear, left top, left bottom,
    from( #f9f9f9 ),
    to( #e4e4e4 )
  );
  border: 1px solid #bdbdbd;
}
