<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.products">
      <product
            name="Tapiji Translator RAP"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="org.eclipselabs.e4.tapiji.rap">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.tapiji.translator/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="org.eclipse.e4.tapiji.rap.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
