<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.babel.tapiji.tools.core.builderExtension" name="BuilderExtension" schema="schema/org.eclipse.babel.tapiji.tools.core.builderExtension.exsd"/>

   
   <extension
         id="I18NBuilder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.eclipse.babel.tapiji.tools.core.builder.StringLiteralAuditor" />
      </builder>
   </extension>
   
   <extension
         id="org.eclipse.babel.tapiji.tools.core.nature"
         name="Internationalization Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.babel.tapiji.tools.core.builder.InternationalizationNature" />
      </runtime>
      <builder id="org.eclipse.babel.tapiji.tools.core.I18NBuilder" />
<!--      <requires-nature id="org.eclipse.jdt.core.javanature"/> -->
   </extension>
   
   <extension
         id="StringLiteralAuditMarker"
         name="String Literal Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stringLiteral">
      </attribute>
      <attribute
            name="violation">
      </attribute>
      <attribute
            name="context">
      </attribute>
      <attribute
            name="cause">
      </attribute>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="bundleName">
      </attribute>
      <attribute
            name="bundleStart">
      </attribute>
      <attribute
            name="bundleEnd">
      </attribute>
   </extension>
   <extension
         id="ResourceBundleAuditMarker"
         name="Resource-Bundle Audit Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stringLiteral">
      </attribute>
      <attribute
            name="violation">
      </attribute>
      <attribute
            name="context">
      </attribute>
      <attribute
            name="cause">
      </attribute>
      <attribute
            name="key">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="language">
      </attribute>
      <attribute
            name="bundleLine">
      </attribute>
      <attribute
            name="problemPartner">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.babel.tapiji.tools.core.model.preferences.TapiJIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.babel.core.babelConfiguration">
      <IConfiguration
            class="org.eclipse.babel.tapiji.tools.core.model.preferences.TapiJIPreferences">
      </IConfiguration>
   </extension>

</plugin>
