<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipselabs.tapiji.tools.core"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/resourcebundle.gif"
            id="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer"
            name="Resource Bundle Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.gknsintermetals.eclipse.resourcebundle.manager.viewContribution1"
            targetID="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer">
         <action
               class="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.toolbarItems.ToggleFilterActionDelegate"
               icon="icons/warning.gif"
               id="com.gknsintermetals.eclipse.resourcebundle.manager.activateFilter"
               label="activate filter"
               state="false"
               style="toggle"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="com.gknsintermetals.eclipse.resourcebundle.manager.viewContribution2"
            targetID="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer">
         <action
               class="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.toolbarItems.ExpandAllActionDelegate"
               icon="icons/expandall.gif"
               id="com.gknsintermetals.eclipse.resourcebundle.manager.expandAll"
               label="expand all"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer">
         <includes>
            <contentExtension
                  pattern="com.gknsintermetals.eclipse.resourcebundle.manager.resourcebundleContent">
            </contentExtension>
            <contentExtension
                  pattern="com.gknsintermetals.eclipse.resourcebundle.manager.filter.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="com.gknsintermetals.eclipse.resourcebundle.manager.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="com.gknsintermetals.eclipse.resourcebundle.manager.viewer1">
         <popupMenu
               id="com.gknsintermetals.eclipse.resourcebundle.manager.ResourceBundleExplorer#PopupMenu">
            <insertionPoint
                  name="group.expand"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.ResourceBundleContentProvider"
            icon="icons/resourcebundle.gif"
            id="com.gknsintermetals.eclipse.resourcebundle.manager.resourcebundleContent"
            labelProvider="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.ResourceBundleLabelProvider"
            name="Resource Bundle Content"
            priority="high">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="com.gknsintermetals.eclipse.resourcebundle.manager.model.VirtualResourceBundle">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="com.gknsintermetals.eclipse.resourcebundle.manager.model.VirtualResourceBundle">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="properties">
                  </test>
               </and>
            </or></possibleChildren>
         <actionProvider
               class="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.actions.ActionRBProvider"
               id="com.gknsintermetals.eclipse.resourcebundle.manager.action.openProvider">
            <enablement>
               <instanceof
                     value="com.gknsintermetals.eclipse.resourcebundle.manager.model.VirtualResourceBundle">
               </instanceof>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.gknsintermetals.eclipse.resourcebundle.manager.HoverProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            class="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.filters.ProblematicResourceBundleFilter"
            id="com.gknsintermetals.eclipse.resourcebundle.manager.filter.ProblematicResourceBundleFiles"
            name="Problematic Resource Bundle Files">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.gknsintermetals.eclipse.resourcebundle.manager.viewer.LinkHelper"
            id="com.gknsintermetals.eclipse.resourcebundle.manager.linkHelper">
        <selectionEnablement>
             <instanceof value="org.eclipse.core.resources.IFile"/>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
      </linkHelper>
   </extension> 
   <extension
         point="org.eclipselabs.tapiji.tools.core.builderExtension">
      <i18nAuditor
            class="com.gknsintermetals.eclipse.resourcebundle.manager.auditor.ResourceBundleAuditor">
      </i18nAuditor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>

</plugin>
