<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://user/1.0"
            class="org.eclipselabs.tapiji.translator.rap.model.user.UserPackage"
            genModel="model/user.genmodel"/>
   </extension>

</plugin>
